/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: "Lilita One", sans-serif;
font-family: "Lato", sans-serif;
font-family: 'Poppins', sans-serif;
*/
 
/* Scroll Bar */
 
/* width */
::-webkit-scrollbar {
width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
 
 
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 
*::after, *::before{
    box-sizing: border-box;
}
 
body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    isolation: isolate;
    background-color: #F9F9F9;
    /* min-height: 100vh; */
}

#navbar-brand{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    /* font-style: italic; */
    font-size: 2.5rem;
    /* border: 1px solid black; */
    padding-left: 10%;

}

nav{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    background-color: white;
    height: 10vh;
}

.nav-link{
    font-size: 1.1rem;
    margin-right: 20px;
    transition: all 200ms ease;
}

.nav-link:hover{
    scale: 1.1;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}


.root{
  border:1px solid black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color:whitesmoke;
  font-family: 'Inter', sans-serif;
}


.gridContainer{
  width: 100%;
  height: 90vh;
  border:1px solid black;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
}

/* .gridContainer>div{ */
  /* border:1px solid black; */
/* } */

.chatbot-title,.contact-title{
  /* border: 1px solid black;  */
  top: 50%; 
  left: 50%; 
  width: 100%; 
  text-align: 
  center;
  font-size: 1.5rem;
  position: absolute; 
  transform: translate(-50%,-50%); 
  color: black; 
  font-weight: 600; 
  font-family: 'Poppins', sans-serif;
}


#messageForm{
  /* border: 1px solid yellow; */
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  margin: 0; 
  margin-left: auto;
  margin-right: auto;
  width: 95%; 
  height: 100%;
  gap:30px;
}
#messageForm .messageContainer, #messageForm .sendButtonContainer, #messageForm #addonContainer{
  position: relative;
}

#messageForm #addonContainer div{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:white;
  height: 90%;
  left:10px;
}

#messageForm .messageContainer #userMessage{
  resize:none;
  /* background-color: #2A3942; */
  /* margin-block: 10px; */
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:black;
}

#messageForm .messageContainer #userMessage::placeholder{
  color:rgba(0,0,0,0.5);
}


#messageForm .sendButtonContainer #sendMessageBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:white;
  width: 70%;
}


#messageForm .form-control:focus {
  border-color: black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}


.iconDiv{
  overflow: hidden;
}

.iconDiv img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.messageBox{
  overflow: hidden;
  border-left: 1px solid #F0F2F5;
  background-color: #F0F2F5;
  box-shadow: 1px 0px 3px inset rgba(0,0,0,0.4);
  display: grid;
  grid-template-rows: 14vh 1fr 7vh;
}

.messageBox>div{
  overflow: auto;
}

.message-box{
  background-color: #F9F9F9;
  box-shadow: 1px 0px 3px inset rgba(0,0,0,0.4);
}

.message-title{
  background-color: #164863;
  box-shadow: 1px 0px 3px inset rgba(0,0,0,0.4);
  display: grid;
  grid-template-columns: 1fr 11fr;
  overflow:hidden;
}

.profile-pic{
  width: 70%;
  aspect-ratio: 1;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow:hidden;
}

.message-history{
  position: relative;
  isolation: isolate;
  background-blend-mode: soft-light;
  background: url('https://thumbs.dreamstime.com/b/social-media-doodle-seamless-pattern-social-media-doodle-seamless-pattern-repeated-ornament-hand-drawn-elements-white-162559147.jpg') rgba(255,255,255,0.95);
  background-size: 40%;
  background-position: center;
  box-shadow: 1px 0px 3px inset rgba(0,0,0,0.4);;
}


.message{
  /* border: 1px solid black; */
  min-height: 10vh;
  padding: 15px;
  color: black;
}

.message-blob{
  overflow: hidden;
  max-width: 70%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,1);
  border-bottom-left-radius: 0px;
}

.receiver{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

.sender{
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
.sender > .message-blob{
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0px !important;
  background-color: #0B60B0 !important;
  color: white !important;
}

@media screen and (min-width: 800px) {
.mobile{
    display: none !important;
}
}

@media (max-width: 700px){

#navbar-brand{
    font-size: 1.9rem;
    padding-left: 0;
}

.nav-link{
    font-size: 1.3rem;
    margin-right: 0px;
}


.nav-link:hover{
    scale: 1;
    filter: drop-shadow(3px 3px 1px rgba(0,0,0,0));
}

}