/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
/* font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: "Lilita One", sans-serif;
font-family: "Lato", sans-serif;
font-family: 'Poppins', sans-serif;
*/
 
/* Scroll Bar */
 
/* width */
::-webkit-scrollbar {
width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
 
 
*{
    box-sizing: border-box;
}
 
*::after, *::before{
    box-sizing: border-box;
}
 
body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    isolation: isolate;
}

#navbar-brand{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    /* font-style: italic; */
    font-size: 2.5rem;
    /* border: 1px solid black; */
    padding-left: 10%;

}

nav{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.nav-link{
    font-size: 1.3rem;
    margin-right: 20px;
    transition: all 200ms ease;
}

.nav-link:hover{
    scale: 1.1;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.5); */
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}


.backgroundGradient{
    /* border: 1px solid black; */
    width: 100%;
    position: absolute;
    height: 30vh;
    background-color:#0cb8b6;
    background-image: url('https://medicare.bold-themes.com/clinic/wp-content/uploads/sites/2/2015/12/bgn-grad.png');
    z-index: -1;
}

.containerGrid{
    display: grid;
    /* border: 1px solid black; */
    width: 100%;
    min-height: 70vh;
    grid-template-columns: 1fr 3fr;
    margin-top: 10vh;
}

/* .containerGrid div{
    border: 1px solid black;
} */

.imageHolderDiv{
    position: relative;
}

.imageHolderDiv .personCard{
    position: absolute;
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    animation: slide_in 2200ms forwards ease;
}

@keyframes slide_in {
    0%{
        left:10%;
        opacity: 0;
    }

    100%{
        left:50%;
        opacity: 1;
    }
}

.textCardDiv{
    animation: fade 2200ms ease-in-out;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.textCardDiv header{
    /* border: 1px solid black; */
    height: 20vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}

.textCardDiv header>div{
    position: absolute;
    top:50%;
    left: 10%;
    transform: translate(0%,-50%);
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
}

.textbox{
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 90%;
    /* background-color: #F1F1F1; */
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.linkDiv{
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: min-content;
    /* background-color: #F1F1F1; */
    margin-top: 10px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
}

.linkDiv div{
    border: 1px solid black;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease;
    margin-inline: 10px;
}

.linkDiv div:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    scale:1.01;
}

.linkDiv div svg{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer{
    padding: 10px;
    padding-left: 5vw;
    background-color: rgb(46,48,55);
    font-family: 'Poppins', sans-serif;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p{
    display: inline-block;
}

footer p:last-child{
    margin-left: 20vw;
}

@media (max-width: 1300px) {    
.selfTestContainer .overlayImage{
    left: -40%;
    padding:5px;
    justify-content: space-evenly;
}

.selfTestContainer .overlayImage #overlayText{
    font-size: 1rem;
}
}

@media (max-width: 700px){

#navbar-brand{
    font-size: 1.9rem;
    /* border: 1px solid black; */
    /* padding-left: 10%; */
    padding-left: 0;
}

.nav-link{
    font-size: 1.3rem;
    margin-right: 0px;
}


.nav-link:hover{
    scale: 1;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.5); */
    filter: drop-shadow(3px 3px 1px rgba(0,0,0,0));
}

footer{
    padding-block: 10px;
    text-align: center;
}

footer p{
    display: block;
    margin-left: 0;
}

footer p:last-child{
    margin-left: 0;
}
.containerGrid{
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    margin-top: 10vh;
}

.containerGrid>div:first-child{
    aspect-ratio: 1/1.5;
    width: 100%;
    
}

.textCardDiv header{
    display: none;
}

.textbox{
    width: 100%;
}
.linkDiv{
    width: 100%;
}
footer{
    color: white;
    position:static;
}

}